@model BusinessObjects.User

@{
    ViewData["Title"] = "Details";
    Layout = "_userLayout";
}
<div class="container">
    <div class="main-body">

        <div class="row">
            <div class="col-md-6 mx-auto mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="~/images/@Html.DisplayFor(model => model.AvatarUrl)" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3 w-100">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Full Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Html.DisplayFor(model => model.LastName) @Html.DisplayFor(model => model.FirstName)
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Html.DisplayFor(model => model.Email)
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a class="btn btn-info" asp-action="UpdateUserInfo" asp-route-username="@Model.Username">
                                            Edit
                                        </a>
                                        <a class="btn btn-primary" asp-action="Success">Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
