
@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}

@model BusinessObjects.User

@{
    ViewData["Title"] = "Change password";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 text-center mx-auto">
            <div class="card">
                <header class="card-header">
                    <h1>Change password</h1>
                </header>
                <div class="card-body">
                    <form asp-action="ChangePassword" asp-controller="User" id="report" autocomplete="off">
                        <div class="row form-group my-3">
                            <div class="col-sm-3">
                                <label for="old-password" class="form-label mb-0">Old password</label>
                            </div>
                            <div class="col-sm-9 ">
                                <input id="old-password" class="form-control form-control-sm" type="text"
                                       placeholder="Old password">
                            </div>
                        </div>
                        <div class="row form-group my-3">
                            <div class="col-sm-3">
                                <label for="old-password" class="form-label mb-0">New password</label>
                            </div>
                            <div class="col-sm-9">
                                <input id="old-password" class="form-control form-control-sm" type="text"
                                       placeholder="New password">
                            </div>
                        </div>
                        <div class="row form-group my-3">
                            <div class="col-sm-3">
                                <label for="old-password" class="form-label mb-0">Confim new password</label>
                            </div>
                            <div class="col-sm-9">
                                <input id="old-password" class="form-control form-control-sm" type="text"
                                       placeholder="Confirm new password">
                            </div>
                        </div>
                        <div class="row form-group mt-5 px-3">
                            <button type="submit" class="btn btn-success col-md-3 me-3">Submit</button>
                            <button type="cancel" class="btn btn-danger col-md-3 me-auto">Cancel</button>
                        </div>

                    </form>

                </div>
            </div>
            </div>
    </div>
</div>
>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
