* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'maven pro', 'sans serif';
    text-transform: uppercase;
}
h2 {
    font-weight: bold;
    font-size: 50px;
}
.error-content {
    height: 100vh;
    position: relative;
}
.notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
.notfound-bg {
    position: absolute;
    height: 100px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;    
}
.notfound-bg h1 {
    color: #ececec;
    font-weight: 900;
    font-size: 276px;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.notfound a {
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    padding: 16px 38px;
    margin-top: 0.7rem;
    border-radius: 40px;
    transition: .2s all;
    border: 2px solid transparent;
    background-color: #189CF0;
    color: white;
}
.notfound a:hover {
    background-color: #FFFFFF;
    color: #189CF0;
    border: 2px solid #189CF0;
}