* {
    font-family: 'Helvetica Neue',"Sans-Serif";
    font-size: 20px;
}
@media (min-width: 1200px) {
    .dropdown-menu {
        width: 500px;
    }
    #search-input {
        margin-right: 3rem;
    }
    #dropdown-noti {
        width: 300px;
        position: absolute;
        left: 78.5vw;
    }
    /* Them margin giup dieu chinh do dai thanh search :D */
}
.col-sm-4.nav-link.m-0.p-0.text-center.text-dark:hover {
    text-decoration: underline;
}
.form-control, .input-group-text {
    background-color:#eeeeee;
    border-right: none;
}
.form-control:focus, .input-group-text:hover {
    background-color:#DCDCDC;
    box-shadow: none;
}
#right-nav {
    align-items: center;
}
#login-btn, #signup-btn {
    border: 1px solid #DCDCDC;
    width: 130px;
}
#login-btn:hover, #signup-btn:hover {
    background-color:#DCDCDC;
}
.tag {
    text-decoration: none;
    color: black;
}
/* end of navigation bar css */