* {
  font-family: "Helvetica Neue", "Sans-Serif";
  font-size: 20px;
}

/* Them margin giup dieu chinh do dai thanh search :D */
.col-sm-4.nav-link.m-0.p-0.text-center.text-dark:hover {
  text-decoration: underline;
}
.form-control,
.input-group-text {
  background-color: #eeeeee;
  border-right: none;
}
.form-control:focus,
.input-group-text:hover {
  background-color: #dcdcdc;
  box-shadow: none;
}

#login-btn,
#signup-btn {
  border: 1px solid #dcdcdc;
  width: 130px;
}
#login-btn:hover,
#signup-btn:hover {
  background-color: #dcdcdc;
}
.tag {
  text-decoration: none;
  color: black;
}
ul .nav-item a {
  text-decoration: none;
}
ul .nav-item a:link {
  text-decoration: none;
}

ul .nav-item a:visited {
  text-decoration: none;
}

ul .nav-item a:hover {
  text-decoration: underline;
}
@media (min-width: 1200px) {
  #dropdown-noti {
    width: 300px;
    position: absolute;
    left: 78.5vw;
  }
}
/* end of navigation bar css */
