<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="app">
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-0">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#Home" class="nav-link d-flex align-items-center">
                        <img src="images/Logo.png"
                             style="width:90px;" height="30px">
                    </a>
                    <!--button when navbar is collapse-->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--collapse when screen is smaller than 1200px-->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!--Left nav-->
                    <nav class="nav navbar-nav" id="left-nav">
                        <span class="nav-item me-3">
                            <a href="#Explore" class="nav-link text-dark"><u>Explore</u></a>
                        </span>
                        <span class="nav-item dropdown me-3">
                            <a href="#Category" class="nav-link dropdown-toggle text-dark" id="navbarDropdown"
                               role="button" data-bs-toggle="dropdown">
                                <u>Category</u>
                            </a>
                            <!-- <c:set var="begin" value="0"/>
                            <c:set var="end" value="5"/> -->
                            <div class="container dropdown-menu">
                                <div class="row">
                                    <div class="col-sm-4 nav-link m-0 p-0 text-center text-dark">
                                        <a href="" class="tag">Tag 1</a>
                                    </div>
                                    <div class="col-sm-4 nav-link m-0 p-0 text-center text-dark">
                                        <a href="" class="tag">Tag 1</a>
                                    </div>
                                    <div class="col-sm-4 nav-link m-0 p-0 text-center text-dark">
                                        <a href="" class="tag">Tag 1</a>
                                    </div>
                                    <div class="col-sm-4 nav-link m-0 p-0 text-center text-dark">
                                        <a href="" class="tag">Tag 1</a>
                                    </div>
                                    <div class="col-sm-4 nav-link m-0 p-0 text-center text-dark">
                                        <a href="" class="tag">Tag 1</a>
                                    </div>
                                    <div class="col-sm-4 nav-link m-0 p-0 text-center text-dark">
                                        <a href="" class="tag">Tag 1</a>
                                    </div>


                                </div>
                            </div>
                        </span>
                        <span class="nav-item me-5">
                            <a href="#Explore" class="nav-link text-dark"><u>About us</u></a>
                        </span>
                        <span class="nav-item mt-1 ms-5">
                            <form method="post" action="#search-function">
                                <div class="input-group input-group-sm" id="search-input">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <button class="input-group-text" id="basic-addon2" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </span>
                    </nav>
                    <!--Right nav-->
                    <nav class="nav navbar-nav ms-auto" id="right-nav">
                        <!-- For visitors -->
                        <div class="nav-item me-auto" id="btn-group">
                            <a asp-action="Login" asp-controller="User" class="btn btn-sm rounded-pill" id="login-btn">
                                <i class="fas fa-sign-in-alt me-1 align-middle"></i><span class="align-middle">Login</span>
                            </a>
                            <a asp-action="Register" asp-controller="User" class="btn btn-sm rounded-pill ms-3" id="signup-btn">
                                <i class="fas fa-user align-middle"></i>
                                <span class="align-middle">Register</span>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
