@model ErrorViewModel
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Error";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="icon" href="images/logo_head.png" type="image/icon type">
    <link rel="stylesheet" href="~/css/error.css">
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <div class="error-content">
        <div class="notfound">
            <div class="notfound-bg">
                <h1>404</h1>
            </div>
            <h2>Oops, the website crashed! 〒▽〒</h2>
            <p>
                Don't worry, it's not your fault, this is probably because our developers
                are sleeping now and can't process your request.
            </p>
            @{
                string url;
                if (Context.Session.GetString("user") != null)
                {
                    url = Url.Action("Index", "Home");
                }
                else
                {
                    url = Url.Action("Success", "User");
                }
            }
            <a href="@url">Back to homepage</a>
        </div>
    </div>
</body>
</html>


